{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-landing{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">

{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{% image page.hero_image original as hero_image %}
<header class="masthead text-center" style="background:url('{{ hero_image.url }}') no-repeat;">
   <div class="masthead-content">
     <div class="container py-5 rounded">
       <h2 class="masthead-heading mb-0">{{ page.hero_title }}</h2>
       <h4 class="mb-0 text-primary">{{ page.hero_subtitle }}</h4>
       <a href="#purchase" class="btn btn-primary btn-xl rounded-pill mt-5">{{ page.CTA }}</a>
     </div>
   </div>

 </header>
 {% if page.overview %}
 <section id="overview" class="bg-white border-bottom">
   <div class="container  py-5 d-block text-center ">
     {{ page.overview }}
     <div class="row d-flex">
     {% for cblock in page.body %}
      {% include 'promos/blocks/feature_links.html' %}
    {% endfor %}
  </div>

 </div>
</section>
 {% endif %}

 {% for cblock in page.body %}

  {% include 'promos/blocks/landing_content.html' %}
{% endfor %}


<!-- Payment Block -->
<section id="purchase" class="bg-light pt-4">
  <div class="container bg-white ">
    <div class="row">
      <div class="col-md-4 border-right">
        <div class="pt-5 d-flex justify-content-center align-items-center">
          <h1 class="text-primary d-inline-block">8fit </h1><span class="ml-1 badge bg-primary text-white d-inline-block">PRO</span></h1>
        </div>
        <div class="text-center ">
          <h3>{{ page.get_currency_display }}{{ page.price}}</h3>
          {% if page.benefits %}
          <div class="pt-2">
          {{ page.benefits|safe }}
        </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-8 ">
        <div class="p-5">
          <div class="text-center">
            {{ pa}}

        </div>
        <hr/>
           {{ cblock.value.content|linebreaks }}
           {% include 'promos/blocks/payment_form.html'%}
        </div>
      </div>
    </div>
  </div>
</section>

 <!-- Footer -->
 <footer class="py-5 bg-light">
   <div class="container">
     <p class="m-0 text-center text-muted small">Copyright &copy; 8fit 2018</p>
   </div>
   <!-- /.container -->
 </footer>

{% endblock %}

{% block extra_js %}
<script src="http://js.stripe.com/v3/"></script>

<script>
// Create a Stripe client.

(function() {
  'use strict';
  var stripe = Stripe('pk_test_PSxs0lNupNljq4dbyG9NN30g');

  var elements = stripe.elements({
    fonts: [
      {
        cssSrc: 'https://fonts.googleapis.com/css?family=Source+Code+Pro',
      },
    ],
    // Stripe's examples are localized to specific languages, but if
    // you wish to have Elements automatically detect your user's locale,
    // use `locale: 'auto'` instead.
    locale: window.__exampleLocale
  });

  // Floating labels
  var inputs = document.querySelectorAll('.cell.example.example2 .input');
  Array.prototype.forEach.call(inputs, function(input) {
    input.addEventListener('focus', function() {
      input.classList.add('focused');
    });
    input.addEventListener('blur', function() {
      input.classList.remove('focused');
    });
    input.addEventListener('keyup', function() {
      if (input.value.length === 0) {
        input.classList.add('empty');
      } else {
        input.classList.remove('empty');
      }
    });
  });

  var elementStyles = {
    base: {
      color: '#32325D',
      fontWeight: 500,
      fontFamily: 'Source Code Pro, Consolas, Menlo, monospace',
      fontSize: '16px',
      fontSmoothing: 'antialiased',

      '::placeholder': {
        color: '#CFD7DF',
      },
      ':-webkit-autofill': {
        color: '#e39f48',
      },
    },
    invalid: {
      color: '#E25950',

      '::placeholder': {
        color: '#FFCCA5',
      },
    },
  };

  var elementClasses = {
    focus: 'focused',
    empty: 'empty',
    invalid: 'invalid',
  };

  var cardNumber = elements.create('cardNumber', {
    style: elementStyles,
    classes: elementClasses,
  });
  cardNumber.mount('#example2-card-number');

  var cardExpiry = elements.create('cardExpiry', {
    style: elementStyles,
    classes: elementClasses,
  });
  cardExpiry.mount('#example2-card-expiry');

  var cardCvc = elements.create('cardCvc', {
    style: elementStyles,
    classes: elementClasses,
  });
  cardCvc.mount('#example2-card-cvc');

  registerElements([cardNumber, cardExpiry, cardCvc], 'example2');
})();
</script>
{% endblock %}
