{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-landing{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{% image page.hero_image original as hero_image %}
<header class="masthead text-center text-white" style="background:url('{{ hero_image.url }}') no-repeat;">
   <div class="masthead-content">
     <div class="container">
       <h1 class="masthead-heading mb-0">{{ page.hero_title }}</h1>
       <h2 class="masthead-subheading mb-0">{{ page.offer_summary }}</h2>
       <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">{{ page.CTA }}</a>
     </div>
   </div>

 </header>





 <!-- Footer -->
 <footer class="py-5 bg-light">
   <div class="container">
     <p class="m-0 text-center text-muted small">Copyright &copy; 8fit 2018</p>
   </div>
   <!-- /.container -->
 </footer>





{% endblock %}
