
body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

img {
  max-width: 100%;
  height: auto;
}

a { color: #08da8a; }
a:hover { color: #08da8a; text-decoration: none;}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}



header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background:#419601;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
.masthead .container {
  background: rgba(255, 255, 255, 0.8);
  max-width: 750px;s
}

header.masthead .masthead-content .masthead-heading {
  font-size: 3rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}


@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 3rem;
  }
}
.bg-primary {
  background-color: #08da8a !important;
  color: white;
}
.btn-primary {
  background-color: #08da8a;
  border-color: transparent;
}
.btn-primary:hover {
  background-color: #08da8a;
  border-color: transparent;

}
.text-primary {
  color: #08da8a !important;
}
.text-sm {
  font-size: 60%;
}

#purchase .container {
  max-width: 750px;
}

#overview div[class^="col-"] img{
    max-width: 100%;
    height: auto;
}

.feature {
}
.feature ul li { list-style: none; }
.feature .accent-red .section-header { color: red}
.feature .accent-green .section-header { color: #08da8a}
.feature .accent-orange .section-header { color: #ffa93a}
